# Documentation: http://docs.travis-ci.com/user/languages/julia/
language: julia
os:
  - linux
  - osx
julia:
  - 0.6
  - nightly
matrix:
  allow_failures:
  - julia: nightly
notifications:
  email: false
after_success:
  - julia -e 'cd(Pkg.dir("StructuredOptimization")); Pkg.add("Coverage"); using Coverage; Coveralls.submit(process_folder())'
  - julia -e 'cd(Pkg.dir("StructuredOptimization")); Pkg.add("Coverage"); using Coverage; Codecov.submit(Codecov.process_folder())'
#  - julia -e 'Pkg.add("Documenter")'
#  - julia -e 'cd(Pkg.dir("StructuredOptimization")); include(joinpath("docs", "make.jl"))'
